matplotlib==3.5.3
numpy==1.22.3
pandas==1.4.3
plotly==5.6.0
scikit_learn==1.1.2
seaborn==0.13.2
xgboost==2.0.3
pandas_ta
statsmodels
lightweight_charts 
tensorflow
keras

google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib

PyDrive